<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='/images/web_logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <script src="{{ url_for('static',filename = 'jquery-3.6.0.min.js') }}"></script>
    <title>Declare Model</title>
</head>
<body>
<br><br><br><br><br><br><br>

<div class="login">
<h1>Please input Celonis Url and Token</h1>

{% if result %}
    <p class=error><strong>{{ result}}</strong></p>
{% endif %}
<form method="POST" action="" >
    <table class="login_table">
        <tr>
            <th align="right"><label>Celonis Url</label></th>
            <th><input name="celonis_url" id="celonis_url" size="50" type="url"/></th>
        </tr>
        <tr>
            <th align="right">Token</th>
            <th><input type="password" id="celonis_token" name="celonis_token" size="50" required></th>
        </tr>
    </table>
    <br>
    <input type="submit" value="connect">
</form>

</div>

<div data-role="main" class="ui-content">
    <a href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all">显示弹窗</a>

    <div data-role="popup" id="myPopup" class="ui-content" data-dismissible="false" style="max-width:400px;">
      <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">关闭</a>
      <p>我是不可取消的按钮 (data-dismissible="false)。唯一关闭这个弹窗的方式是通过点击右上角的关闭按钮。你无法通过点击弹窗之外的区域关闭弹窗。</p>
    </div>
  </div>
</body>
</html>