<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='/images/web_logo.png') }}">
    <link rel="stylesheet" href="../static/style.css">

    <script src="../static/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js"></script>
    <title>Declare Model</title>
</head>
<body>
<br><br><br><br><br><br><br>

<div class="login">
<h1>Please input Celonis Url and Token</h1>

{% if result %}
    <p class=error><strong>{{ result}}</strong></p>
{% endif %}
<form method="POST" action="" >
    <table class="login_table">
        <tr>
            <th align="right"><label>Celonis Url</label></th>
            <th><input name="celonis_url" id="celonis_url" size="50" type="url"/></th>
        </tr>
        <tr>
            <th align="right">Token</th>
            <th><input type="password" id="celonis_token" name="celonis_token" size="50" required></th>
        </tr>
    </table>
    <br>
    <input type="submit" value="connect">
</form>

<button class="add_pool_open">Click me!</button>
<button class="add_datamodel_open">Click me!</button>
<button class="add_table_open">Click me!</button>

<section id="add_pool">
    <h2>Add Pool</h2>
    <form>
        <input type="text">
        <input type="submit" value="add pool">
    </form>
</section>

<section id="add_datamodel">
    <h2>Add Datamodel</h2>
    <form>
        <input type="text">
        <input type="submit" value="add pool">
    </form>
</section>

<section id="add_table">
    <h2>Add Table</h2>
    <form>
        <input type="file">
        <input type="submit" value="add pool">
    </form>
</section>

<script>
    $('#add_pool').popup();
    $('#add_datamodel').popup();
    $('#add_table').popup();


</script>
</div>




</body>
</html>