body {
    margin: auto;
    /*max-width: 1080px;*/
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    overflow-y: hidden;
}



.select{
    width: 180px;
    height: 180px;
    /*height: 500px;*/
    /*position: center;*/
    display: inline-block;

    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    vertical-align: top;
    position: absolute;
    top:800px;

}
.select_div{
    border: 1px solid black;
    text-align:center;
    position: relative;
}

#select_div{
    position: absolute;
    width: 200px;
    height: 10000px;
}

.select_url{
    text-decoration: none;
    width: 150px;
    height: 150px;

}

.login{
    position: relative;
    text-align:center;
}

.login_table{
    display: inline-block;
    position: relative;
    text-align:center;
}


.popup_content {

  margin: 10px;
  padding: 15px;
  max-width: 60%;
  border: 2px solid #444;
  background: burlywood;
}

.bigSub{
    /*offset: 10px 80px;*/
    background-color: royalblue;
    height: 100px;
    width: 150px;
    position: absolute;
    top: 500px;
    left: 20px;
    border: 2px solid royalblue;
}


h3{
    color: teal;
}

h4{
    color: teal;
    margin: 0px;
}



.model_div{
    height: 800px;
    width: 800px;
    position: absolute;
    left: 400px;
    overflow: auto;
}

select{
    margin: 5px;
    width: 150px;
    height: 25px;
    position: relative;
    left:15px;

}
.rule_button{
    /*display: inline-block;*/
    /*vertical-align:middle;*/
    /*text-align: center;*/
    margin: 10px;
    position: relative;
    left: 0px;
    padding: 10px;
    width: 150px;
    height: 60px;
    background-color: lightgreen;
}

.add_data{
    position: relative;
    top: 5px;
    left: 20px;
}

#conformance_button{
    position: relative;
    top: -40px;
}


#upload_open{
    position: relative;
    border: 2px solid red;
    width: 100px;
    height: 30px;
    top: 140px;
    left:45px
}

