body {
    margin: auto;
    /*max-width: 1080px;*/
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    overflow-y: hidden;
}


.select {
    width: 180px;
    height: 180px;
    /*height: 500px;*/
    /*position: center;*/
    display: inline-block;

    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: top;
    position: absolute;
    top: 800px;

}

.select_div {
    border: 1px solid black;
    text-align: center;
    position: relative;
}

#select_div {
    position: absolute;
    width: 200px;
    height: 10000px;
}

.select_url {
    text-decoration: none;
    width: 150px;
    height: 150px;

}

.login {
    position: relative;
    text-align: center;
}

.login_table {
    display: inline-block;
    position: relative;
    text-align: center;
}


.popup_content {

    margin: 10px;
    padding: 15px;
    max-width: 60%;
    border: 2px solid #444;
    background: burlywood;
}

.bigSub {
    /*offset: 10px 80px;*/
    background-color: royalblue;
    height: 100px;
    width: 150px;
    position: absolute;
    top: 500px;
    left: 20px;
    border: 2px solid royalblue;
}


h3 {
    color: teal;
}

h4 {
    color: teal;
    margin: 0px;
}


.model_div {
    height: 800px;
    width: 800px;
    position: absolute;
    left: 400px;
    overflow: auto;
}

select {
    margin: 5px;
    width: 150px;
    height: 25px;
    position: relative;
    left: 15px;

}

.rule_button {
    /*display: inline-block;*/
    /*vertical-align:middle;*/
    /*text-align: center;*/
    margin: 10px;
    position: relative;
    left: 0px;
    padding: 10px;
    width: 150px;
    height: 60px;
    background-color: lightgreen;
}

.add_data {
    position: relative;
    top: 5px;
    left: 20px;
}

#conformance_button {
    position: relative;
    top: -40px;
}


#upload_open {
    position: relative;
    border: 2px solid red;
    width: 100px;
    height: 30px;
    top: 140px;
    left: 45px
}


.circle_red {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: red;

}

.circle_green {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: lightgreen;

}

.circle_gray {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: gray;
}


#up_open {
    position: absolute;
    border: 2px solid red;
    width: 100px;
    height: 30px;
    top: 630px;
    left: 40px
}

.confor_div {
    height: 20px;
    width: 2500px;
    background-color: white;
    margin-top: 10px;
    position: static;
    overflow: hidden;

}

#trace_dis {
    background-color: white;
    position: absolute;
    left: 230px;
    top: 180px;
    width: 900px;
    height: 600px;
    overflow: auto;
    /*overflow-x: hidden;*/
    border: 2px solid darkturquoise;

}


#top_div {
    position: absolute;
    top: 0px;
    width: 900px;
    height: 150px;
    left: 230px;
}


/*#right_div_out {*/
/*    position: absolute;*/
/*    left: 1200px;*/
/*    top: 50px;*/
/*    height: 600px;*/
/*    width: 400px;*/
/*    overflow: hidden;*/
/*}*/

#right_div {
    position: absolute;
    left: 1200px;
    top: 50px;
    height: 600px;
    width: 400px;
    overflow-y: auto;

}


#statis_div {
    position: absolute;
    left: 700px;
    height: 150px;
    width: 150px;
    top: 20px;
}


.trace_det {
    width: 900px;
    position: relative;
    margin-top: 20px;
    max-height: 2000px;
    width: 2000px;
    /*overflow: auto;*/

}

.trace_span {
    display: inline-block;
    position: absolute;
    left: 350px;
    height: 20px;
    width: 1600px;
    overflow: hidden;
}

.circle {
    display: inline-block;
    float: left;
    margin-left: 20px;
    border: 1px solid forestgreen;
}


.right_sub_div {
    width: 350px;
    height: 120px;
    margin: 20px;
    position: static;
    left: 0;
    text-align: center;
    font-size: xx-large;
    line-height: 120px;

}