body {
    margin: auto;
    /*max-width: 1080px;*/
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    /*border: 1px solid black;*/
    overflow-y: hidden;
}



.select{
    width: 200px;
    height: 500px;
    /*position: center;*/
    display: inline-block;
    margin: 200px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    vertical-align: top;

}
.select_div{
    /*display: table-cell;*/
    height: 900px;
    text-align:center;
    /*vertical-align:bottom;*/
    position: relative;
    /*height: 30px;*/
}

.select_url{
    text-decoration: none;
    width: 150px;
    height: 150px;
    /*border: 1px solid red;*/

}

.login{

    position: relative;
    text-align:center;
}

.login_table{
    display: inline-block;
    position: relative;
    text-align:center;
    /*border: 4px solid black;*/
}


.popup_content {

  margin: 10px;
  padding: 15px;
  max-width: 60%;
  border: 2px solid #444;
  background: burlywood;
}

.bigSub{
    /*offset: 10px 80px;*/
    background-color: slateblue;
    height: 50px;
    width: 100px;
    border: 2px red;
}


h3{
    color: teal;
}

h4{
    color: teal;
    margin: 0px;
}

.rule_button{
    display:block;
    position: relative;
    /*margin-top: 30px;*/
    padding: 30px;
    height: 40px;
    width: 200px;
    float: top;
    border: 0px;
    background-color: lightgreen;
}

.model_div{
    height: 800px;
    width: 800px;
    overflow: auto;
}